.form {
   display: flex;
   align-items: center;
}

.form__input {
   width: 354px;
   height: 56px;
   padding-left: 32px;
   padding-right: 20px;
   border: none;
   font-weight: 400;
   font-size: 16px;
   background: var(--dark-primary);
   background-color: var(--light-grey);
}
.form__input::placeholder{
color: rgba(42, 37, 75, 0.2);
}